@font-face {
	font-family: FiraSans;
	src: local('sans-serif'), url(../fonts/FiraSans-Regular.otf);
	font-display: swap;
}

body {
	font-family: FiraSans;
	background-color: #f5f5f6;
}

.feather {
	vertical-align: middle;
	height: 1em;
	width: 1em;
	margin-right: 4px;
}

.sidebar {
	background-color: #252525;
	color: #FAFAFA;
	/* make sidebar sticky */
	height: 100vh;
	position: sticky;
	top: 0;
}

.desktop-logo {
	width: 65%;
}

.sidebar hr {
	border-top: 1px solid #FAFAFA;
	width: 80%;
}

.sidebar-link {
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	padding-top: 3%;
	padding-bottom: 3%;
	color: #FAFAFA;
	transition: 0.3s;
}

.sidebar-link:hover {
	background-color: #FAFAFA;
	color: #252525;
	transition: 0.3s;
}

/* social buttons on sidebar */
.social {
	color: #FAFAFA;
	border: 1px solid #FAFAFA;
	border-radius: 50%;
	display: flex;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	margin-right: 5px;
	transition: 0.3s;
}

.social:hover {
	background-color: #FAFAFA;
	color: #252525;
	transition: 0.3s;
}

.social .feather {
	margin-right: 0;
}

/* navbar styling */
.navbar-custom {
	background-color: #252525;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	color: rgba(255,255,255,.7);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: #ffffff;
}

/* make table of contents sticky */
#toc {
	position: sticky;
	top: 2%;
}

/* image zoom icon */
.zoom-link {
	color: transparent;
	transition: 0.3s;
}

.zoom-link:hover {
	color: #FAFAFA;
	transition: 0.3s;
}

.zoom-icon {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 2%;
	left: 2%;
}
